# Backend
backend/node_modules/
backend/.env
backend/dist/
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Загальне
.DS_Store
Thumbs.db
.vscode/